{% load static %}
{% block content %}
<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo" srcset="">
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>
                <li class="sidebar-item  {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
                    <a href="{% url 'home' %}" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item has-sub">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-stack"></i>
                        <span>Components</span>
                    </a>
                    <ul class="submenu" style="display: none;">
                        <li class="submenu-item">
                            <a href="#">Your Own</a>
                        </li>
                        <li class="submenu-item">
                            <a href="#">Your Own</a>
                        </li>
                        <li class="submenu-item">
                            <a href="#">Your Own</a>
                        </li>
                        <li class="submenu-item">
                            <a href="#">Your Own</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    {% endblock content %}